{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
            {% if user.is_authenticated %}
            <h1>Todo list</h1>
            <p>You are logged in to the site.<br>Click below to view the list of current tasks.</p>
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'currenttodos' %}">Start</a>
            {% else %}
            <h1>Todo list</h1>
            <p>Welcome to the website. Here you can manage your tasks.<br>Click on the button below to register and start tracking your tasks.</p>
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Register</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
